{{> head }}
  
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Conexiones</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis illum officiis quam perspiciatis ratione recusandae, eos nihil quisquam minus reiciendis labore laboriosam modi vitae consequatur temporibus. Inventore at laudantium rerum!</p>
    </div>
<div class="col-4">
        <img src="assets/img/image1.jpg" alt="Responsive image" class="img-thumbnail">
    </div>
</div>
  
{{> footer }}